// Arquivo: _colors.scss

// Cores primárias
$primary-color: #1f1f1f;
$primary-dark: #0E0E0E;
$primary-light: #2E3030;

// Cores secundárias
$secondary-color: #f0f0f0;
$secondary-dark: #0A4376;
$secondary-light: #30DFF2;

$tertiary-color: #cccccc;
$tertiary-dark: #020202;
$tertiary-light: #f8b406;
// Cores terceárias

$highlight-color:#7E57C2;


// Cores neutras
$white: #ffffff;
$black: #000000;
$gray-light: #ecf0f1;
$gray-dark: #95a5a6;

// Paletas complementares (se necessário)
$success-color: #2ecc71;   // Verde
$warning-color: #f39c12;   // Amarelo
$error-color: #e74c3c;     // Vermelho de erro
