@mixin centralized {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin global-reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@mixin global-font {
  font-family: "Poppins", sans-serif;
}

@mixin icon-image-footer {
  width: 45px;
  height: 45px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
