* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 10;
  padding: 1rem 1.5rem;
  background-color: #1f1f1f;
}
.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 5rem;
  font-size: 2rem;
  position: relative;
  color: #ffffff;
  background-color: #1f1f1f;
  overflow: hidden;
}
.header .logo span {
  color: #7E57C2;
}
.header .navbar {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
}
.header .navbar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 70%;
  gap: 20px;
}
.header .navbar .menu li {
  display: inline-block;
}
.header .navbar .menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  gap: 15px;
}
.header .navbar .menu li a .material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.header .navbar .menu li a:hover {
  color: #2E3030;
}
.header .navbar .menu li a:hover svg {
  fill: #2E3030;
}
.header .navbar .menu .contact-header-li div {
  border: solid;
  border-color: #7E57C2;
  padding: 0.3rem;
}
.header .navbar .menu .contact-header-li div a:hover {
  color: #2E3030;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #1f1f1f;
}
#home .container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
#home .container-home .wrapper-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home .container-home .wrapper-description .description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#home .container-home .wrapper-description .description h1 {
  font-size: 6rem;
  color: #7E57C2;
  text-shadow: 3px 3px 5px rgba(126, 87, 194, 0.5);
  overflow: hidden;
  white-space: nowrap;
}
#home .container-home .wrapper-description .description .hello {
  font-size: 1.8rem;
  color: #f0f0f0;
  text-shadow: 3px 3px 5px rgba(240, 240, 240, 0.5);
}
#home .container-home .wrapper-description .description .carrer-overview {
  font-size: 1.5rem;
  color: #cccccc;
  text-shadow: 3px 3px 5px rgba(204, 204, 204, 0.5);
}
#home .container-home .wrapper-perfil-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23rem;
  height: 35rem;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin: 2rem 5.5rem;
}
#home .container-home .wrapper-perfil-image #perfil {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home .container-home .wrapper-contacts .list-contacts {
  list-style: none;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #2E3030;
}
#about .container-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
#about .container-about .title {
  position: relative;
  margin-block: 2rem;
  margin-top: 3.5rem;
}
#about .container-about .title .title-about {
  color: #7E57C2;
  font-weight: bold;
  font-size: 6rem;
  color: #7E57C2;
  text-shadow: 3px 3px 5px rgba(126, 87, 194, 0.5);
}
#about .container-about .wrapper-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  columns: 2;
}
#about .container-about .wrapper-infos .wrapper-perfil-image {
  width: 23rem;
  height: 23rem;
  overflow: hidden;
  border-radius: 15px;
}
#about .container-about .wrapper-infos .wrapper-perfil-image #perfil {
  width: 100%;
  height: auto;
}
#about .container-about .wrapper-infos .wrapper-about {
  width: 25rem;
  flex-wrap: wrap;
  color: #f0f0f0;
  font-size: 1.4rem;
  gap: 1rem;
}
#about .container-about .wrapper-infos .wrapper-about p {
  margin-bottom: 2rem;
}
#about .container-about .wrapper-infos .wrapper-about .button-cv {
  background-color: #4a4a4a;
  color: #f0f0f0;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
#about .container-about .wrapper-infos .wrapper-about .button-cv:hover {
  background-color: #5a5a5a;
  box-shadow: 0 0 3px 2px #7E57C2;
}

#social-hub {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #1f1f1f;
  flex-direction: column;
}
#social-hub .title {
  position: relative;
  margin-block: 2rem;
  margin-top: 3.5rem;
}
#social-hub .title h1 {
  color: #7E57C2;
  font-weight: bold;
  font-size: 6rem;
  color: #7E57C2;
  text-shadow: 3px 3px 5px rgba(126, 87, 194, 0.5);
}
#social-hub .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#social-hub .wrapper .container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#social-hub .wrapper .container .card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(126, 87, 194, 0.8);
}
#social-hub .wrapper .container .card .row {
  display: flex;
  color: #f0f0f0;
  flex-wrap: nowrap;
}
#social-hub .wrapper .container .card .row .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50%;
  color: #f0f0f0;
  margin: 15px;
}
#social-hub .wrapper .container .card .row .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#social-hub .wrapper .container .card .row .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 520px;
  height: 80px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}
#social-hub .wrapper .container .card .row .description p {
  color: #f0f0f0;
  margin-top: 5px;
}
#social-hub .wrapper .container .card .row .description p a {
  text-decoration: none;
  color: #f0f0f0;
}
#social-hub .wrapper .container .card .row .description h4 {
  text-transform: uppercase;
}
#social-hub .wrapper .container .card[for=c1] {
  background-image: url("./assets/social/linkedin-post.jpeg");
  background-position: center;
}
#social-hub .wrapper .container .card[for=c2] {
  background-image: url("./assets/social/linkedin-post.jpeg");
  background-position: center;
}
#social-hub .wrapper .container .card[for=c3] {
  background-image: url("./assets/social/linkedin-post.jpeg");
  background-position: center;
}
#social-hub .wrapper .container input {
  display: none;
}
#social-hub .wrapper .container input:checked + .card {
  width: 600px;
}
#social-hub .wrapper .container input:checked + .card .description {
  opacity: 1 !important;
  transform: translateY(0);
}

#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #2E3030;
  flex-wrap: wrap;
}
#projects .title {
  position: relative;
  margin-block: 2rem;
}
#projects .title h1 {
  color: #7E57C2;
  font-weight: bold;
  font-size: 6rem;
  color: #7E57C2;
  text-shadow: 3px 3px 5px rgba(126, 87, 194, 0.5);
}
#projects .container-projects {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  justify-content: center;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 1000px;
  gap: 0.8rem;
  margin-bottom: 3rem;
}
#projects .container-projects .item {
  width: 15rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 25px #fff;
  filter: brightness(0);
  transition: 0.5s;
}
#projects .container-projects .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#projects .container-projects .item .description-project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  position: relative;
  height: 40%;
  width: 100%;
  color: #f0f0f0;
}
#projects .container-projects .item .description-project h2 {
  margin-inline: 1rem;
  cursor: pointer;
}
#projects .container-projects .item .description-project h2 a {
  text-decoration: none;
  color: #7E57C2;
}
#projects .container-projects .item .description-project p {
  font-size: 10px;
  margin-inline: 1rem;
}
#projects .container-projects .item .description-project .tags {
  display: flex;
  flex-direction: row;
  margin-inline: 1rem;
  gap: 0.5rem;
}
#projects .container-projects .item .description-project .tags .tag {
  width: 1.8rem;
  height: 1.8rem;
}
#projects .container-projects .item .description-project .tags .tag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#projects .container-projects .item:hover {
  filter: brightness(1);
  transform: translateZ(100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: end;
}
#projects .container-projects .item:hover img {
  height: 100%;
  transition: 0.5s;
}
#projects .container-projects .item:hover .description-project {
  height: 40%;
  position: absolute;
  transition: 0.5s;
  background-color: #2E3030;
}
#projects .container-projects .item:hover + * {
  filter: brightness(0.3);
  transform: translateZ(40px) rotateY(20deg);
}
#projects .container-projects .item:hover + * img {
  height: 80%;
  transition: 0.5s;
}
#projects .container-projects .item:has(+ * :hover) {
  filter: brightness(0.3);
  transform: translateZ(40px) rotateY(-20deg);
}
#projects .container-projects .item:has(+ * :hover) img {
  height: 80%;
  transition: 0.5s;
}

#contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #1f1f1f;
  color: #f0f0f0;
}
#contacts .logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 15%;
  height: 100%;
  overflow: hidden;
}
#contacts .logos .linkedin {
  width: 45px;
  height: 45px;
}
#contacts .logos .linkedin img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#contacts .logos .linkedin :hover {
  filter: drop-shadow(3px 3px 3px rgba(48, 156, 245, 0.5));
}
#contacts .logos .github {
  width: 45px;
  height: 45px;
}
#contacts .logos .github img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#contacts .logos .github :hover {
  filter: drop-shadow(3px 3px 3px #e8eaea);
}
#contacts .logos .whatsapp {
  width: 45px;
  height: 45px;
}
#contacts .logos .whatsapp img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#contacts .logos .whatsapp :hover {
  filter: drop-shadow(3px 3px 3px #075e54);
}
#contacts p {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=styles.css.map */
